itm-466/assignment3/LeatherStoreWebServiceClient/web/WEB-INF/wsdl/localhost_8080/LeatherStoreWebService/LSWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://itmd466.sat.iit.edu/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://itmd466.sat.iit.edu/" name="LSWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://itmd466.sat.iit.edu/" schemaLocation="http://localhost:8080/LeatherStoreWebService/LSWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="getMessage">
<part name="parameters" element="tns:getMessage"/>
</message>
<message name="getMessageResponse">
<part name="parameters" element="tns:getMessageResponse"/>
</message>
<message name="getItem">
<part name="parameters" element="tns:getItem"/>
</message>
<message name="getItemResponse">
<part name="parameters" element="tns:getItemResponse"/>
</message>
<message name="getCustomerDetailHtml">
<part name="parameters" element="tns:getCustomerDetailHtml"/>
</message>
<message name="getCustomerDetailHtmlResponse">
<part name="parameters" element="tns:getCustomerDetailHtmlResponse"/>
</message>
<message name="getFullInv4">
<part name="parameters" element="tns:getFullInv4"/>
</message>
<message name="getFullInv4Response">
<part name="parameters" element="tns:getFullInv4Response"/>
</message>
<message name="getFullInv2">
<part name="parameters" element="tns:getFullInv2"/>
</message>
<message name="getFullInv2Response">
<part name="parameters" element="tns:getFullInv2Response"/>
</message>
<message name="getFullInfo1">
<part name="parameters" element="tns:getFullInfo1"/>
</message>
<message name="getFullInfo1Response">
<part name="parameters" element="tns:getFullInfo1Response"/>
</message>
<message name="getFullName1">
<part name="parameters" element="tns:getFullName1"/>
</message>
<message name="getFullName1Response">
<part name="parameters" element="tns:getFullName1Response"/>
</message>
<message name="getFullInfo4">
<part name="parameters" element="tns:getFullInfo4"/>
</message>
<message name="getFullInfo4Response">
<part name="parameters" element="tns:getFullInfo4Response"/>
</message>
<message name="getFullName3">
<part name="parameters" element="tns:getFullName3"/>
</message>
<message name="getFullName3Response">
<part name="parameters" element="tns:getFullName3Response"/>
</message>
<message name="getFullInv3">
<part name="parameters" element="tns:getFullInv3"/>
</message>
<message name="getFullInv3Response">
<part name="parameters" element="tns:getFullInv3Response"/>
</message>
<message name="getPending">
<part name="parameters" element="tns:getPending"/>
</message>
<message name="getPendingResponse">
<part name="parameters" element="tns:getPendingResponse"/>
</message>
<message name="getFullInfo3">
<part name="parameters" element="tns:getFullInfo3"/>
</message>
<message name="getFullInfo3Response">
<part name="parameters" element="tns:getFullInfo3Response"/>
</message>
<message name="getFullInv1">
<part name="parameters" element="tns:getFullInv1"/>
</message>
<message name="getFullInv1Response">
<part name="parameters" element="tns:getFullInv1Response"/>
</message>
<message name="getFullInfo2">
<part name="parameters" element="tns:getFullInfo2"/>
</message>
<message name="getFullInfo2Response">
<part name="parameters" element="tns:getFullInfo2Response"/>
</message>
<message name="getFullName4">
<part name="parameters" element="tns:getFullName4"/>
</message>
<message name="getFullName4Response">
<part name="parameters" element="tns:getFullName4Response"/>
</message>
<message name="getQuantity">
<part name="parameters" element="tns:getQuantity"/>
</message>
<message name="getQuantityResponse">
<part name="parameters" element="tns:getQuantityResponse"/>
</message>
<message name="getFullName2">
<part name="parameters" element="tns:getFullName2"/>
</message>
<message name="getFullName2Response">
<part name="parameters" element="tns:getFullName2Response"/>
</message>
<portType name="LSWebService">
<operation name="getMessage">
<input wsam:Action="http://itmd466.sat.iit.edu/LSWebService/getMessageRequest" message="tns:getMessage"/>
<output wsam:Action="http://itmd466.sat.iit.edu/LSWebService/getMessageResponse" message="tns:getMessageResponse"/>
</operation>
<operation name="getItem">
<input wsam:Action="http://itmd466.sat.iit.edu/LSWebService/getItemRequest" message="tns:getItem"/>
<output wsam:Action="http://itmd466.sat.iit.edu/LSWebService/getItemResponse" message="tns:getItemResponse"/>
</operation>
<operation name="getCustomerDetailHtml">
<input wsam:Action="http://itmd466.sat.iit.edu/LSWebService/getCustomerDetailHtmlRequest" message="tns:getCustomerDetailHtml"/>
<output wsam:Action="http://itmd466.sat.iit.edu/LSWebService/getCustomerDetailHtmlResponse" message="tns:getCustomerDetailHtmlResponse"/>
</operation>
<operation name="getFullInv4">
<input wsam:Action="http://itmd466.sat.iit.edu/LSWebService/getFullInv4Request" message="tns:getFullInv4"/>
<output wsam:Action="http://itmd466.sat.iit.edu/LSWebService/getFullInv4Response" message="tns:getFullInv4Response"/>
</operation>
<operation name="getFullInv2">
<input wsam:Action="http://itmd466.sat.iit.edu/LSWebService/getFullInv2Request" message="tns:getFullInv2"/>
<output wsam:Action="http://itmd466.sat.iit.edu/LSWebService/getFullInv2Response" message="tns:getFullInv2Response"/>
</operation>
<operation name="getFullInfo1">
<input wsam:Action="http://itmd466.sat.iit.edu/LSWebService/getFullInfo1Request" message="tns:getFullInfo1"/>
<output wsam:Action="http://itmd466.sat.iit.edu/LSWebService/getFullInfo1Response" message="tns:getFullInfo1Response"/>
</operation>
<operation name="getFullName1">
<input wsam:Action="http://itmd466.sat.iit.edu/LSWebService/getFullName1Request" message="tns:getFullName1"/>
<output wsam:Action="http://itmd466.sat.iit.edu/LSWebService/getFullName1Response" message="tns:getFullName1Response"/>
</operation>
<operation name="getFullInfo4">
<input wsam:Action="http://itmd466.sat.iit.edu/LSWebService/getFullInfo4Request" message="tns:getFullInfo4"/>
<output wsam:Action="http://itmd466.sat.iit.edu/LSWebService/getFullInfo4Response" message="tns:getFullInfo4Response"/>
</operation>
<operation name="getFullName3">
<input wsam:Action="http://itmd466.sat.iit.edu/LSWebService/getFullName3Request" message="tns:getFullName3"/>
<output wsam:Action="http://itmd466.sat.iit.edu/LSWebService/getFullName3Response" message="tns:getFullName3Response"/>
</operation>
<operation name="getFullInv3">
<input wsam:Action="http://itmd466.sat.iit.edu/LSWebService/getFullInv3Request" message="tns:getFullInv3"/>
<output wsam:Action="http://itmd466.sat.iit.edu/LSWebService/getFullInv3Response" message="tns:getFullInv3Response"/>
</operation>
<operation name="getPending">
<input wsam:Action="http://itmd466.sat.iit.edu/LSWebService/getPendingRequest" message="tns:getPending"/>
<output wsam:Action="http://itmd466.sat.iit.edu/LSWebService/getPendingResponse" message="tns:getPendingResponse"/>
</operation>
<operation name="getFullInfo3">
<input wsam:Action="http://itmd466.sat.iit.edu/LSWebService/getFullInfo3Request" message="tns:getFullInfo3"/>
<output wsam:Action="http://itmd466.sat.iit.edu/LSWebService/getFullInfo3Response" message="tns:getFullInfo3Response"/>
</operation>
<operation name="getFullInv1">
<input wsam:Action="http://itmd466.sat.iit.edu/LSWebService/getFullInv1Request" message="tns:getFullInv1"/>
<output wsam:Action="http://itmd466.sat.iit.edu/LSWebService/getFullInv1Response" message="tns:getFullInv1Response"/>
</operation>
<operation name="getFullInfo2">
<input wsam:Action="http://itmd466.sat.iit.edu/LSWebService/getFullInfo2Request" message="tns:getFullInfo2"/>
<output wsam:Action="http://itmd466.sat.iit.edu/LSWebService/getFullInfo2Response" message="tns:getFullInfo2Response"/>
</operation>
<operation name="getFullName4">
<input wsam:Action="http://itmd466.sat.iit.edu/LSWebService/getFullName4Request" message="tns:getFullName4"/>
<output wsam:Action="http://itmd466.sat.iit.edu/LSWebService/getFullName4Response" message="tns:getFullName4Response"/>
</operation>
<operation name="getQuantity">
<input wsam:Action="http://itmd466.sat.iit.edu/LSWebService/getQuantityRequest" message="tns:getQuantity"/>
<output wsam:Action="http://itmd466.sat.iit.edu/LSWebService/getQuantityResponse" message="tns:getQuantityResponse"/>
</operation>
<operation name="getFullName2">
<input wsam:Action="http://itmd466.sat.iit.edu/LSWebService/getFullName2Request" message="tns:getFullName2"/>
<output wsam:Action="http://itmd466.sat.iit.edu/LSWebService/getFullName2Response" message="tns:getFullName2Response"/>
</operation>
</portType>
<binding name="LSWebServicePortBinding" type="tns:LSWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getMessage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getItem">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCustomerDetailHtml">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getFullInv4">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getFullInv2">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getFullInfo1">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getFullName1">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getFullInfo4">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getFullName3">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getFullInv3">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPending">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getFullInfo3">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getFullInv1">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getFullInfo2">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getFullName4">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getQuantity">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getFullName2">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="LSWebService">
<port name="LSWebServicePort" binding="tns:LSWebServicePortBinding">
<soap:address location="http://localhost:8080/LeatherStoreWebService/LSWebService"/>
</port>
</service>
</definitions>